{% extends "::layout.html.twig" %}

{% block title %}Resultado{% endblock %}

{% block content %}
    {% for item in result %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Título: {{ item.title }}</h3>
        </div>
        <div class="panel-body">
                <p>Autor(es): {{ item.author }}</p>
                <p>P&aacute;ginas: {{ item.pages }}</p>
                <p>Dimensiones: {{ item.dimensions }}</p>
                <p>Categor&iacute;a: {{ item.category }}</p>
                <p>Descripci&oacute;n: {{ item.description }}</p>
                <p>ISBN 10: {{ item.isbn10 }}</p>
                <p>ISBN 13: {{ item.isbn13 }}</p>
                <p>Imagen: {{ item.image }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}
